body {
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
}

div a {
  text-decoration: none;
}

.bg-header-img {
  background-image: url('/header_new.jpg');
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
}

.bg-header-img .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.bg-header-img .overlay .content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.landing-img {
  height: 300px;
  width: 300px;
  object-fit: cover;  
  object-position: center center;
}

.slider-img {
  height: 70vh;
  object-fit: cover;  
  object-position: center center;
}

.landing-img-height {
  height: 55vh;
}

@media screen and (min-width: 576px) {

  .landing-img-height {
    height: 60vh;
  }

  .bg-header-img .overlay .content {
    top: 40%;
  }
  
}

@media screen and (min-width: 768px) {
  
  .bg-header-img .overlay .content {
    top: 45%;
  }
  
  .landing-img-height {
    height: 70vh;
  }

}

@media screen and (min-width: 1024px) {

  .bg-header-img .overlay .content {
    top: 60%;
  }

  .landing-img-height {
    height: 100vh;
  }
}