body {
  margin: 0;
  padding: 0;
}

li a {
  text-decoration: none;
}

div a {
  text-decoration: none;
}

.bg-header-img {
  background-image: url('/header.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* width: 100%; */
}

.bg-header-img .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.bg-header-img .overlay .content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header-navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.landing-img {
  height: 50vh;
  width: 100%;
  object-fit: cover;  
  object-position: center center;
}

.slider-img {
  height: 70vh;
  object-fit: cover;  
  object-position: center center;
}